@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amaranth:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#layoutContainer {
  background-color: rgb(39, 59, 68);
}
.content {
  min-height: 90vh;
}
.title {
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: rgba(39, 59, 68, 0.753);
}
.caption {
  text-align: center;
  padding: 10px;
  background-color: rgba(39, 59, 68, 0.753);
  color: #fff;
  a {
    color: #fff;
  }
}
header {
  color: rgb(43, 43, 43);
  background-color: oldlace;
  font-family: 'Amaranth', sans-serif;
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    a {
      color: rgb(43, 43, 43);
      padding: 5px;
      text-decoration: none;
    }
  }
}
